<header class="px-4 lg:px-6 h-16 flex items-center fixed w-full bg-white z-50 shadow-sm border-b border-gray-200">
  <div class="flex items-center justify-center mb-0.5 cursor-pointer" (click)="scrollToSection('landing')">
    <img src="../../assets/imgs/logo.png" alt="Logo" class="w-14">
    <span class="text-xl font-semibold ml-4">SAFESEC Formation</span>
  </div>

  <!-- Bouton du menu burger pour les petits écrans -->
  <button class="lg:hidden ml-auto mr-3" (click)="toggleBurgerMenu($event)">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none"
      stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
    </svg>
  </button>

  <!-- Navigation principale pour les grands écrans -->
  <nav class="hidden lg:flex ml-auto gap-4 sm:gap-6 items-center">
    <div class="text-base cursor-pointer font-medium hover:text-blue-600" (click)="scrollToSection('services')">
      Services</div>
    <div class="text-base cursor-pointer font-medium hover:text-blue-600" (click)="scrollToSection('formateur')">
      Formateur</div>
    <div class="text-base cursor-pointer font-medium hover:text-blue-600" (click)="scrollToSection('catalogue')">
      Catalogue</div>
    <div class="text-base cursor-pointer font-medium hover:text-blue-600" (click)="scrollToSection('contact')">Contact
    </div>
  </nav>

  <!-- Menu burger pour les petits écrans -->
  <div #menuBurger class="lg:hidden absolute top-full left-0 w-full bg-white shadow-md" *ngIf="burgerMenuOpened">
    <div class="block cursor-pointer px-4 py-2 text-sm text-gray-800 hover:bg-blue-500 hover:text-white"
      (click)="scrollToSection('services')">Services</div>
    <div class="block cursor-pointer px-4 py-2 text-sm text-gray-800 hover:bg-blue-500 hover:text-white"
      (click)="scrollToSection('formateur')">Formateur</div>
    <div class="block cursor-pointer px-4 py-2 text-sm text-gray-800 hover:bg-blue-500 hover:text-white"
      (click)="scrollToSection('catalogue')">Catalogue</div>
    <div class="block cursor-pointer px-4 py-2 text-sm text-gray-800 hover:bg-blue-500 hover:text-white"
      (click)="scrollToSection('contact')">Contact</div>
  </div>
</header>

<main class="flex-1">
  <section id="landing" class="w-full h-screen pt-20 md:pt-24 lg:pt-32 border-y px-2 md:px-0">
    <div class="px-4 md:px-6 space-y-10 xl:space-y-16 flex items-center justify-center h-full"
      style="margin-top: -5rem;">
      <div class="grid max-w-[1300px] mx-auto gap-4 px-4 sm:px-6 md:px-10 md:grid-cols-2 md:gap-16">
        <h1
          class="lg:leading-tighter text-3xl tracking-tighter mt-40 md:mt-28 sm:text-4xl md:text-5xl xl:text-[3.4rem] 2xl:text-[3.75rem]">
          <span class="text-blue-600 font-bold">SAFESEC Formation</span>
          L'expertise au service de vos équipes.
        </h1>
        <div class="flex flex-col space-y-4">
          <div class="flex justify-center items-center w-full">
            <img src="../../assets/imgs/logo.png" alt="Logo" class="w-40 md:w-60">
          </div>
          <p class="mx-auto max-w-[700px] text-gray-500 md:text-xl">
            SAFESEC Formation vous propose des apprentissages délivrés par un expert vous permettant de sensibiliser vos
            équipes à la prévention et la gestion des risques au quotidien ou au sein de votre coeur de métier.
          </p>
          <div class="space-x-4">
            <div
              class="inline-flex cursor-pointer h-9 items-center justify-center rounded-md bg-blue-500 px-4 py-2 text-sm font-medium text-white shadow transition-colors hover:bg-blue-700 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-blue-900 disabled:pointer-events-none disabled:opacity-50"
              (click)="scrollToSection('services')">
              Commencer
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="services" class="flex justify-center items-center w-full py-12 md:py-24 lg:py-20 px-2 md:px-0 pt-16">
    <div class="container space-y-12 px-4 md:px-6">
      <div class="flex flex-col items-center justify-center space-y-4 text-center">
        <h2 class="text-4xl font-bold tracking-tighter sm:text-5xl">Services</h2>
        <p class="mx-auto max-w-[800px] text-gray-500 md:text-xl text-center">
          SAFESEC Formation propose plusieurs programmes éducatifs, spécialement conçus pour renforcer les compétences
          professionnelles et offrir des connaissances pratiques immédiatement applicables à vos équipes.
        </p>
      </div>
      <div
        class="mx-auto grid items-start gap-8 sm:max-w-4xl sm:grid-cols-2 md:gap-12 lg:max-w-5xl lg:grid-cols-3 justify-items-center">
        <div class="grid gap-1 text-center"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" class="h-10 w-10 mx-auto" data-darkreader-inline-stroke=""
            style="--darkreader-inline-stroke: currentColor;">
            <path d="M18 6 7 17l-5-5"></path>
            <path d="m22 10-7.5 7.5L13 16"></path>
          </svg>
          <h3 class="text-lg font-bold">Catalogue complet de formations</h3>
          <p class="text-sm text-gray-500">
            Découvrez notre sélection de formations couvrant divers domaines et compétences, conçues pour répondre
            aux besoins de toutes les entreprises.
          </p>
        </div>
        <div class="grid gap-1 text-center"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" class="h-10 w-10 mx-auto" data-darkreader-inline-stroke=""
            style="--darkreader-inline-stroke: currentColor;">
            <path d="M3 7V5c0-1.1.9-2 2-2h2"></path>
            <path d="M17 3h2c1.1 0 2 .9 2 2v2"></path>
            <path d="M21 17v2c0 1.1-.9 2-2 2h-2"></path>
            <path d="M7 21H5c-1.1 0-2-.9-2-2v-2"></path>
            <rect width="7" height="5" x="7" y="7" rx="1"></rect>
            <rect width="7" height="5" x="10" y="12" rx="1"></rect>
          </svg>
          <h3 class="text-lg font-bold">Flexibilité du formateur</h3>
          <p class="text-sm text-gray-500">Nous offrons une flexibilité d'horaires pour s'adapter au mieux aux besoins
            des entreprises et minimiser l'impact sur la productivité.</p>
        </div>
        <div class="grid gap-1 text-center"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" class="h-10 w-10 mx-auto" data-darkreader-inline-stroke=""
            style="--darkreader-inline-stroke: currentColor;">
            <line x1="12" x2="12" y1="20" y2="10"></line>
            <line x1="18" x2="18" y1="20" y2="4"></line>
            <line x1="6" x2="6" y1="20" y2="16"></line>
          </svg>
          <h3 class="text-lg font-bold">Adapté aux personnes handicapées</h3>
          <p class="text-sm text-gray-500">
            Nos formations sont adaptées pour garantir l'accessibilité aux participants handicapés, pour un
            apprentissage inclusif et équitable.
          </p>
        </div>
        <div class="grid gap-1 text-center"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" class="h-10 w-10 mx-auto" data-darkreader-inline-stroke=""
            style="--darkreader-inline-stroke: currentColor;">
            <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10"></path>
          </svg>
          <h3 class="text-lg font-bold">Certification des acquis</h3>
          <p class="text-sm text-gray-500">
            À la fin de chaque formation, recevez une certification attestant de vos compétences et connaissances
            acquises, ainsi que la réussite des examens finaux.
          </p>
        </div>
        <div class="grid gap-1 text-center"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" class="h-10 w-10 mx-auto" data-darkreader-inline-stroke=""
            style="--darkreader-inline-stroke: currentColor;">
            <circle cx="12" cy="12" r="10"></circle>
            <polyline points="12 6 12 12 16 14"></polyline>
          </svg>
          <h3 class="text-lg font-bold">Mises en situation pratique</h3>
          <p class="text-sm text-gray-500">
            Nos formations intègrent des scénarios pratiques et des mises en situation pour permettre une application
            concrète des connaissances, améliorant ainsi l'apprentissage.
          </p>
        </div>
        <div class="grid gap-1 text-center"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" class="h-10 w-10 mx-auto" data-darkreader-inline-stroke=""
            style="--darkreader-inline-stroke: currentColor;">
            <path d="M17.5 19H9a7 7 0 1 1 6.71-9h1.79a4.5 4.5 0 1 1 0 9Z"></path>
          </svg>
          <h3 class="text-lg font-bold">Sessions de formation en groupe</h3>
          <p class="text-sm text-gray-500">
            Participez à des sessions de formation en groupe qui favorisent l'échange d'idées et la collaboration entre
            les participants, enrichissant l'expérience d'apprentissage.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="formateur"
    class="flex justify-center items-center w-full py-12 md:py-24 lg:py-20 px-2 md:px-0 pt-16 bg-gray-100">
    <div class="container space-y-12 px-4 md:px-6">
      <div class="flex flex-col items-center justify-center space-y-4 text-center mx-auto">
        <h2 class="text-4xl font-bold tracking-tighter sm:text-5xl">Votre formateur</h2>
        <p class="max-w-[800px] text-gray-500 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed">
          Retrouvez ici toutes les informations me concernant, et découvrez pourquoi je vous propose mon
          expertise aujourd'hui.
        </p>
      </div>
      <div class="flex flex-col md:flex-row items-center justify-center gap-4 md:gap-10 lg:gap-16">
        <div class="flex flex-col items-center justify-center w-full max-w-[400px] p-4 md:p-8">
          <img src="../../assets/imgs/tof.jpg" alt="Photo"
            class="rounded-full object-cover object-center border-4 border-blue-500 aspect-square" />
          <div class="text-lg font-semibold mt-4">Christophe Eribon</div>
        </div>
        <div class="flex flex-col w-full max-w-[700px] items-center justify-center p-4 md:p-8">
          <div class="space-y-4 text-center">
            <p class="text-gray-500 italic"> Ayant rejoint les rangs de la gendarmerie nationale en 1992, j'ai consacré
              de
              nombreuses années à des missions opérationnelles ainsi qu'à la formation dans les domaines de
              l'intervention professionnelle et des premiers secours.
              Aujourd’hui, nouvelle vie, nouveau public, mais toujours le même bonheur de pouvoir partager mes
              connaissances.</p>
            <p class="text-gray-500 italic">Si vous souhaitez monter en compétences sur des sujets tels que la gestion
              des comportements agressifs, la sécurisation de site, les premiers secours (sécurité civile, SST,
              sauvetage tactique ou au combat), les réactions face à une situation d'attentat ou d'agression collective
              avec arme, les sports de combat et la self défense, ou encore le port, l’emploi et l’usage des armes de
              catégories B et D, je suis l'homme qu'il vous faut.</p>
            <a class="justify-center whitespace-nowrap rounded-md font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 px-4 py-2 text-sm inline-flex items-center gap-2 bg-blue-500 hover:bg-blue-700 text-white"
              href="../../assets/pdf/CV.pdf" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-4 h-4">
                <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                <polyline points="7 10 12 15 17 10"></polyline>
                <line x1="12" x2="12" y1="15" y2="3"></line>
              </svg>
              Consulter mon CV
            </a>
          </div>
          <div class="flex justify-center gap-6 mt-4">
            <div (click)="scrollToSection('contact')" class="text-gray-500 hover:text-blue-700 cursor-pointer text-3xl">
              <fa-icon [icon]="icons.faEnvelope"></fa-icon>
            </div>
            <a href="https://www.linkedin.com/in/christophe-e-7a6813167/" target="_blank"
              class="text-gray-500 hover:text-blue-700 text-3xl">
              <fa-icon [icon]="icons.faLinkedin"></fa-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="catalogue" class="flex justify-center items-center w-full py-12 md:py-32 lg:py-20 px-2 md:px-0">
    <div class="container grid items-center justify-center gap-6 px-4 md:px-6">
      <div class="space-y-4 text-center mx-auto">
        <h2 class="text-4xl font-bold tracking-tighter sm:text-5xl">Catalogue de formations</h2>
        <p
          class="mx-auto max-w-[500px] text-gray-500 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed text-center mb-12">
          Choisissez la formation qui correspond aux besoins de votre équipe.
        </p>
      </div>
      <div class="grid gap-8 sm:grid-cols-2 md:gap-12 lg:grid-cols-3 w-full mt-6 justify-items-center">
        <div class="rounded-lg bg-white border border-gray-300 shadow-md w-[340px] flex flex-col">
          <div class="flex flex-col space-y-1.5 p-6 text-center">
            <h3 class="text-2xl font-semibold leading-none tracking-tight">Attentat et agression collective avec arme
            </h3>
          </div>
          <div class="p-6 flex-grow">
            <ul>
              <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="h-4 w-4 inline" data-darkreader-inline-stroke=""
                  style="--darkreader-inline-stroke: currentColor;">
                  <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
                Sensibilisation sur les conduites à tenir en cas d'agression collective avec arme et/ou d'attaque
                terroriste
              </li>
              <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="h-4 w-4 inline" data-darkreader-inline-stroke=""
                  style="--darkreader-inline-stroke: currentColor;">
                  <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
                Prise en charge initiale des victimes, en attente des secours spécialisés
              </li>
              <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="h-4 w-4 inline" data-darkreader-inline-stroke=""
                  style="--darkreader-inline-stroke: currentColor;">
                  <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
                Safe Marche Ryan - Damage Control
              </li>
            </ul>
          </div>
          <div class="flex items-center p-6"><button
              class="inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 px-4 py-2 bg-blue-500 text-white hover:bg-blue-700 w-full">Choisir
              le plan</button></div>
        </div>
        <div class="rounded-lg bg-white border border-gray-300 shadow-md w-[340px] flex flex-col">
          <div class="flex flex-col space-y-1.5 p-6 text-center">
            <h3 class="text-2xl font-semibold leading-none tracking-tight">Gestion des comportements aggressifs et/ou
              violents</h3>
          </div>
          <div class="p-6 flex-grow">
            <ul>
              <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="h-4 w-4 inline" data-darkreader-inline-stroke=""
                  style="--darkreader-inline-stroke: currentColor;">
                  <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
                Sensibilisation à la gestion des agressions verbales et/ou physiques
              </li>
              <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="h-4 w-4 inline" data-darkreader-inline-stroke=""
                  style="--darkreader-inline-stroke: currentColor;">
                  <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
                Lutte contre les violences intrafamiliales
              </li>
            </ul>
          </div>
          <div class="flex items-center p-6"><button
              class="inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 px-4 py-2 bg-blue-500 text-white hover:bg-blue-700 w-full">Choisir
              le plan</button></div>
        </div>
        <div class="rounded-lg bg-white border border-gray-300 shadow-md w-[340px] flex flex-col">
          <div class="flex flex-col space-y-1.5 p-6 text-center">
            <h3 class="text-2xl font-semibold leading-none tracking-tight">Self défense et sports de combat</h3>
          </div>
          <div class="p-6 flex-grow">
            <ul>
              <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="h-4 w-4 inline" data-darkreader-inline-stroke=""
                  style="--darkreader-inline-stroke: currentColor;">
                  <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
                Initiation à la journée, ou sur un week-end
              </li>
              <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="h-4 w-4 inline" data-darkreader-inline-stroke=""
                  style="--darkreader-inline-stroke: currentColor;">
                  <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
                Formation à la semaine
              </li>
              <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="h-4 w-4 inline" data-darkreader-inline-stroke=""
                  style="--darkreader-inline-stroke: currentColor;">
                  <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
                Information des élus
              </li>
              <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="h-4 w-4 inline" data-darkreader-inline-stroke=""
                  style="--darkreader-inline-stroke: currentColor;">
                  <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
                Information au titre d'une profession
              </li>
            </ul>
          </div>
          <div class="flex items-center p-6"><button
              class="inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 px-4 py-2 bg-blue-500 text-white hover:bg-blue-700 w-full">Choisir
              le plan</button></div>
        </div>
        <div class="rounded-lg bg-white border border-gray-300 shadow-md w-[340px] flex flex-col">
          <div class="flex flex-col space-y-1.5 p-6 text-center">
            <h3 class="text-2xl font-semibold leading-none tracking-tight">Sécurisation de site</h3>
          </div>
          <div class="p-6 flex-grow">
            <ul>
              <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="h-4 w-4 inline" data-darkreader-inline-stroke=""
                  style="--darkreader-inline-stroke: currentColor;">
                  <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
                Audit de sûreté
              </li>
              <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="h-4 w-4 inline" data-darkreader-inline-stroke=""
                  style="--darkreader-inline-stroke: currentColor;">
                  <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
                Conseil et accompagnement
              </li>
              <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="h-4 w-4 inline" data-darkreader-inline-stroke=""
                  style="--darkreader-inline-stroke: currentColor;">
                  <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
                Vérification et actualisation des mesures mises en place
              </li>
              <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="h-4 w-4 inline" data-darkreader-inline-stroke=""
                  style="--darkreader-inline-stroke: currentColor;">
                  <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
                Mises en situation
              </li>
            </ul>
          </div>
          <div class="flex items-center p-6"><button
              class="inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 px-4 py-2 bg-blue-500 text-white hover:bg-blue-700 w-full">Choisir
              le plan</button></div>
        </div>
        <div
          class="rounded-lg bg-card text-card-foreground shadow-sm w-[340px] bg-white border-2 border-blue-500 relative flex flex-col">
          <div
            class="absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-blue-500 text-white px-2 py-1 rounded-md">
            Populaire
          </div>
          <div class="flex flex-col space-y-1.5 p-6 text-center">
            <h3 class="text-2xl font-semibold leading-none tracking-tight">Consolidation des compétences
              professionnelles</h3>
          </div>
          <div class="p-6 flex-grow">
            <ul>
              <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="h-4 w-4 inline" data-darkreader-inline-stroke=""
                  style="--darkreader-inline-stroke: currentColor;">
                  <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
                Formation réservée aux forces de l'ordre
              </li>
              <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="h-4 w-4 inline" data-darkreader-inline-stroke=""
                  style="--darkreader-inline-stroke: currentColor;">
                  <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
                Pratique opérationnelle du bâton de défense
              </li>
              <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="h-4 w-4 inline" data-darkreader-inline-stroke=""
                  style="--darkreader-inline-stroke: currentColor;">
                  <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
                Maniement, emploi sécurisé et usage raisonné des armes à feu
              </li>
            </ul>
          </div>
          <div class="flex items-center p-6"><button
              class="inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 px-4 py-2 bg-blue-500 text-white hover:bg-blue-700 w-full">Choisir
              le plan</button></div>
        </div>
        <div class="rounded-lg bg-white border border-gray-300 shadow-md w-[340px] flex flex-col">
          <div class="flex flex-col space-y-1.5 p-6 text-center">
            <h3 class="text-2xl font-semibold leading-none tracking-tight">Sauvetage Secourisme du Travail (SST)</h3>
          </div>
          <div class="p-6 flex-grow">
            <ul>
              <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="h-4 w-4 inline" data-darkreader-inline-stroke=""
                  style="--darkreader-inline-stroke: currentColor;">
                  <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
                Formation initiale
              </li>
              <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="h-4 w-4 inline" data-darkreader-inline-stroke=""
                  style="--darkreader-inline-stroke: currentColor;">
                  <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
                Maintien et actualisation des compétences (MAC)
              </li>
            </ul>
          </div>
          <div class="flex items-center p-6"><button
              class="inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 px-4 py-2 bg-blue-500 text-white hover:bg-blue-700 w-full">Choisir
              le plan</button></div>
        </div>
      </div>
    </div>
  </section>
  <section id="contact"
    class="flex justify-center items-center w-full py-12 md:py-24 lg:py-20 px-2 md:px-0 bg-gray-100">
    <div class="container space-y-12 px-4 md:px-6">
      <div class="flex flex-col items-center justify-center space-y-4 text-center">
        <div class="space-y-2">
          <h2 class="text-4xl font-bold tracking-tighter sm:text-5xl">Contactez-moi</h2>
          <p class="max-w-[800px] text-gray-500 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed">
            Vous avez des questions ? Vous voulez en savoir plus ? Contactez-moi et je vous répondrai dans les plus
            bref délais.
          </p>
        </div>
      </div>
      <div class="flex flex-col items-center justify-center cursor-default">
        <div class="inline-flex flex-col space-y-4 w-full max-w-md">
          <div class="space-y-2"><label
              class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
              for="name">Nom</label><input
              class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
              id="name" placeholder="Entrez votre nom"></div>
          <div class="space-y-2"><label
              class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
              for="email">Email</label><input
              class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
              id="email" placeholder="Entrez votre email" type="email"></div>
          <div class="space-y-2"><label
              class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
              for="message">Message</label><textarea
              class="flex w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 min-h-[100px]"
              id="message" placeholder="Entrez votre message"></textarea></div>
          <button (click)="sendMail()"
            class="inline-flex items-center justify-center rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 px-4 py-2 bg-blue-500 text-white hover:bg-blue-700">Envoyer
            le message</button>
        </div>
      </div>
    </div>
  </section>
</main>
<footer class="flex flex-col gap-2 sm:flex-row py-6 w-full shrink-0 items-center px-4 md:px-6 border-t">
  <p class="text-sm text-gray-600">© SAFESEC Formation. Tous droits réservés.</p>
  <nav class="sm:ml-auto flex gap-4 sm:gap-6">
    <a class="text-sm hover:text-blue-600" href="#">
      Conditions de service
    </a>
    <a class="text-sm hover:text-blue-600" href="#">
      Confidentialité
    </a>
  </nav>
</footer>