<header class="px-4 lg:px-6 h-16 flex items-center fixed w-full bg-white z-50 shadow-sm border-b border-gray-200">
    <div class="flex items-center justify-center mb-0.5 cursor-pointer" (click)="navigateToHome('landing')">
        <img src="../../assets/imgs/logo.png" alt="Logo" class="w-14">
        <span class="text-xl font-semibold ml-4">SAFESEC Formation</span>
    </div>

    <!-- Navigation principale pour les grands écrans -->
    <nav class="hidden lg:flex ml-auto gap-4 sm:gap-6 items-center">
        <div class="text-base cursor-pointer font-medium hover:text-blue-600 transition-colors"
            (click)="navigateToHome('services')">
            Services</div>
        <div class="text-base cursor-pointer font-medium hover:text-blue-600 transition-colors"
            (click)="navigateToHome('formateur')">
            Formateur</div>
        <div class="text-base cursor-pointer font-medium hover:text-blue-600 transition-colors"
            (click)="navigateToHome('catalogue')">
            Catalogue</div>
        <div class="text-base cursor-pointer font-medium hover:text-blue-600 transition-colors"
            (click)="navigateToHome('contact')">
            Contact
        </div>
    </nav>

    <!-- Menu burger pour les petits écrans -->
    <button class="lg:hidden ml-auto mr-3" (click)="toggleBurgerMenu($event)">
        <fa-icon class="text-3xl text-gray-700" [icon]="icons.faBars"></fa-icon>
    </button>
    <div #menuBurger class="lg:hidden absolute top-full left-0 w-full bg-white shadow-md" *ngIf="burgerMenuOpened">
        <div class="block cursor-pointer px-4 py-2 text-sm text-gray-800 hover:bg-blue-500 hover:text-white"
            (click)="navigateToHome('services')">Services</div>
        <div class="block cursor-pointer px-4 py-2 text-sm text-gray-800 hover:bg-blue-500 hover:text-white"
            (click)="navigateToHome('formateur')">Formateur</div>
        <div class="block cursor-pointer px-4 py-2 text-sm text-gray-800 hover:bg-blue-500 hover:text-white"
            (click)="navigateToHome('catalogue')">Catalogue</div>
        <div class="block cursor-pointer px-4 py-2 text-sm text-gray-800 hover:bg-blue-500 hover:text-white"
            (click)="navigateToHome('contact')">Contact</div>
    </div>
</header>

<main class="flex-1 container mx-auto">
    <div class="fixed top-16 left-4 p-4 lg:block hidden">
        <button (click)="navigateToHome('catalogue')" class="focus:outline-none cursor-pointer">
            <fa-icon class="text-5xl mb-2 text-blue-500 hover:text-blue-600 transition-colors"
                [icon]="icons.faCircleArrowLeft"></fa-icon>
        </button>
    </div>
    <section class="w-full py-24 md:py-32 lg:py-32">
        <div class="container px-4 md:px-6">
            <div class="mx-auto max-w-3xl space-y-8">
                <div class="space-y-4 text-center">
                    <h2 class="text-4xl font-bold tracking-tighter sm:text-5xl">Demande de formation</h2>
                    <p class="text-gray-500 md:text-xl/relaxed xl:text-xl/relaxed dark:text-gray-400">
                        Remplissez le formulaire ci-dessous pour faire une demande de formation. Cette demande sera
                        étudiée et nous reviendrons vers vous dès que possible.
                    </p>
                </div>
                <form class="space-y-6">
                    <div class="space-y-4">
                        <h3 class="text-2xl font-bold">Localisation de la formation</h3>
                        <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                            <div class="space-y-2">
                                <label
                                    class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                                    for="cityMail">
                                    Ville
                                </label>
                                <input
                                    class="flex h-10 w-full transition-all duration-100 ease-out rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                                    id="cityMail" name="cityMail" [(ngModel)]="cityMail"
                                    placeholder="Entrez votre ville" #inputField />
                            </div>
                            <div class="space-y-2">
                                <label
                                    class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                                    for="postalCodeMail">
                                    Code postal
                                </label>
                                <input
                                    class="flex h-10 w-full transition-all duration-100 ease-out rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                                    id="postalCodeMail" name="postalCodeMail" [(ngModel)]="postalCodeMail"
                                    (input)="formatAndRestrictPostalCodeInput($event)"
                                    placeholder="Entrez votre code postal" #inputField />
                            </div>
                        </div>
                        <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                            <div class="space-y-2">
                                <label
                                    class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                                    for="countryMail">
                                    Pays
                                </label>
                                <input
                                    class="flex h-10 w-full transition-all duration-100 ease-out rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                                    id="countryMail" name="countryMail" [(ngModel)]="countryMail"
                                    placeholder="Entrez votre pays" #inputField />
                            </div>
                            <div class="space-y-2">
                                <label
                                    class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                                    for="addressMail">
                                    Adresse de la formation
                                </label>
                                <input
                                    class="flex h-10 w-full transition-all duration-100 ease-out rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                                    id="addressMail" name="addressMail" [(ngModel)]="addressMail"
                                    placeholder="Entrez l'adresse de la formation" #inputField />
                            </div>
                        </div>
                    </div>
                    <div class="space-y-8">
                        <div class="space-y-4">
                            <h3 class="text-2xl font-bold">Informations du contact de référence</h3>
                            <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                                <div class="space-y-2">
                                    <label
                                        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                                        for="nameMail">
                                        Nom
                                    </label>
                                    <input
                                        class="flex h-10 w-full transition-all duration-100 ease-out rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                                        id="nameMail" name="nameMail" [(ngModel)]="nameMail"
                                        placeholder="Entrez votre nom" #inputField />
                                </div>
                                <div class="space-y-2">
                                    <label
                                        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                                        for="emailMail">
                                        Email
                                    </label>
                                    <input
                                        class="flex h-10 w-full transition-all duration-100 ease-out rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                                        id="emailMail" name="emailMail" [(ngModel)]="emailMail"
                                        placeholder="Entrez votre email" type="email" #inputField />
                                </div>
                            </div>
                            <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                                <div class="space-y-2">
                                    <label
                                        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                                        for="phoneNumberMail">
                                        Téléphone
                                    </label>
                                    <input
                                        class="flex h-10 w-full transition-all duration-100 ease-out rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                                        id="phoneNumberMail" placeholder="Entrez votre numéro de téléphone" type="tel"
                                        name="phoneNumberMail" [(ngModel)]="phoneNumberMail"
                                        (input)="formatAndRestrictPhoneInput($event)" #inputField />
                                </div>
                                <div class="space-y-2">
                                    <label
                                        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                                        for="companyMail">
                                        Entreprise
                                    </label>
                                    <input
                                        class="flex h-10 w-full transition-all duration-100 ease-out rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                                        id="companyMail" name="companyMail" [(ngModel)]="companyMail"
                                        placeholder="Entrez le nom de votre entreprise" #inputField />
                                </div>
                            </div>
                        </div>
                        <div class="space-y-4">
                            <h3 class="text-2xl font-bold">Informations sur la formation</h3>
                            <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                                <div class="space-y-2">
                                    <label
                                        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                                        for="job-title">
                                        Formation choisie
                                    </label>
                                    <input
                                        class="flex h-10 w-full transition-all duration-100 ease-out rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                                        id="job-title" placeholder="Formation choisie" name="chosenTrainingName"
                                        [value]="chosenTrainingName" [disabled]="true" #inputField />
                                </div>
                                <div class="space-y-2">
                                    <label
                                        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                                        for="personNumberMail">
                                        Nombre de personnes
                                    </label>
                                    <input
                                        class="flex h-10 w-full transition-all duration-100 ease-out rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                                        id="personNumberMail" name="personNumberMail" [(ngModel)]="personNumberMail"
                                        (input)="formatAndRestrictPersonNumberInput($event)"
                                        placeholder="Entrez le nombre de personnes" type="text" #inputField />
                                </div>
                            </div>
                            <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                                <div class="space-y-2">
                                    <label
                                        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                                        for="jobTrainedMail">
                                        Métier formé
                                    </label>
                                    <input
                                        class="flex h-10 w-full transition-all duration-100 ease-out rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                                        id="jobTrainedMail" name="jobTrainedMail" [(ngModel)]="jobTrainedMail"
                                        placeholder="Entrez le métier de la population formée" #inputField />
                                </div>
                                <div class="space-y-2">
                                    <label
                                        class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                                        for="trainingDateMail">
                                        Date(s) souhaitée(s) de la formation
                                    </label>
                                    <input
                                        class="inline-flex transition-all duration-100 ease-out items-center whitespace-nowrap rounded-md text-sm ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2 w-full justify-start text-left font-normal"
                                        id="trainingDateMail" name="trainingDateMail" [(ngModel)]="trainingDateMail"
                                        type="date" placeholder="Sélectionnez une date" #inputField />
                                </div>
                            </div>
                        </div>
                        <div class="space-y-2">
                            <label
                                class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                                for="moreInformationMail">
                                Informations complémentaires
                            </label>
                            <textarea
                                class="flex w-full transition-all duration-100 ease-out rounded-md border border-input bg-background resize-none px-3 py-2 text-sm ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 min-h-[100px]"
                                id="moreInformationMail" name="moreInformationMail"
                                placeholder="Entrez vos informations complémentaires, si vous en avez à nous soumettre"
                                [(ngModel)]="moreInformationMail" #inputField></textarea>
                        </div>
                        <button
                            class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2 w-full bg-blue-500 text-white hover:bg-blue-600"
                            (click)="sendMail()">
                            Envoyer la demande de formation
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>